<div id="menu_tab"></div>
<div id="new_post">
  <a href="posts/new">new post 2 </a>
<%= link_to "New Post", new_post_path %>
</div>
<div class="post_container">
<% @posts.each do |post| %>
<h2><%= link_to post.title, post %></h2>
<div><%= truncate(post.body, :length => 35) %></div>
<div><%= post.user.email %></div>
<br>
<% if post.user == current_user %>
<%= link_to 'edit', edit_post_path(post) %>
<%= link_to 'destroy', post, method: :delete, data: {confirm:'Are you sure?'}%>
<% end %>
<% end %>
</div>
