 <%= link_to "Forum", posts_path %>

<h1><%= @post.title %></h1>

<%= link_to 'edit', edit_post_path(@post) %>
<%= link_to 'destroy', @post, method: :delete, data: {confirm:'Are you sure?'}%>

<div><%=@post.body%></div>
<div id="comments">
  <h2><%= @post.comments.count %> Comments</h2>
  <%= render @post.comments %>

  <h3>Add a comment:</h3>
  <%= render "comments/form" %>
</div>
