<h1><%= @post.title %></h1>

<%= link_to 'edit', edit_post_path(@post) %>
<%= link_to 'destroy', @post, method: :delete, data: {confirm:'Are you sure?'}%>

<div><%=@post.body%></div>
<div id="comments">
  <%= render "comments/form" %>
</div>
